{% extends 'base.html' %}

{% block content %}

<h1> 상품정보 수정하기</h1>

<form action="{% url 'products:update' product.pk %}" method="POST">
    {% csrf_token %}
    <label>상품이름</label><br>
    <input type="text" name="title" value="{{ product.title }}" ><br><br>
    
    <label>상품가격</label><br><br>
    <input type="number" name="price"><br><br>
    <labe>설명</labe>
    <textarea name="description">{{ product.description }}</textarea><br><br>
    
    <input type="submit" class="btn btn-primary" value="수정">
    
</form>

{% endblock %}